.header{
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.header__navbar a {
    padding: $l-size $s-size $m-size 0;
    color: $dark-blue;
}
.header__navbar a:active{
    color: $light-blue;
}
.header__logo{
    height: $l-size;
}
@media (min-width: $desktop-breakpoint){
    .header__navbar a{
        padding-right: $xl-size;
        font-size: 1.9rem;
    }

    .header__logo{
        padding-left: $m-size;
        padding-top: $m-size;
    }
    .header__logo{
        height: $xl-size;
    }
}