
html {
    font-size: 62.5%;
    // color: gold;
    background-color: #FDFCF4;
}

body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.6rem;
}

a:link {
    text-decoration: none;
}

button, a{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}


.is-active{
    font-weight: bold
}