// Color
$off-back: #20222b;
$dark-blue: #333745;
$off-white: #a5afd7;
$light-blue: #464b5e;
$purple: #8357c5;
$blue: #3c4251;


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;